body {
    width: 100%;
    max-width: 1500px;
    background-color: #334B35;
    height: 100%;
}


.bg {
    background-image: url("image.jpg");

    width: 100%;
    height: 954px;

    position: relative;
    z-index: 1;
}

.bg2 {
    background-image: url("img2.jpg");

    width: 100%;
    height: 694px;

    position: relative;
}

.orig {
    color: white;
    font-size: 15px;
    font-family: Livvic;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word;
}

.high {
    color: #F7C35F;
    font-size: 50px;
    font-family: Livvic;
    font-weight: 700;
    word-wrap: break-word;

    width: 100%;
}

.desc {
    color: white;
    font-size: 50px;
    font-family: Livvic;
    font-weight: 400;
    word-wrap: break-word;
}

.description {
    color: white;
    font-size: 15px;
    font-family: Livvic;
    font-weight: 400;
    word-wrap: break-word;

    width: 85%;
}

.discover {
    color: #1A1A1A;
    font-size: 15px;
    font-family: Livvic;
    font-weight: 500;
    text-transform: uppercase;
    word-wrap: break-word;

    height: 100%;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 3%;
    padding-bottom: 3%;

    background: #F7C35F;
    border-radius: 10%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
    border: none;

    margin-top: 30px;

    cursor: pointer;
}

.orn {
    width: 8%;
    position: absolute;

    margin-left: 58.4%;
    margin-top: 3%;
}

.cover {
    width: 55%;
    margin-left: 21%;
    margin-top: -56%;
    position: absolute;

    z-index: 4;

}

.block2 {
    margin-top: -9%;
    position: relative;
    height: 656px;
    background-color: #334B35;
    padding: 8%;
}

.block4 {
    width: 100%;
    margin-top: -9%;
    height: 980px;
    background-color: #263C28;
}


.zag {
    color: #FFF;

    font-family: Livvic;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;

    text-align: center;

    margin-bottom: 2%;
    margin-top: 8%;
}

.qu {
    color: #ffffff;

    font-family: Livvic;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    text-align: center;

    margin-top: 2%;
    margin-bottom: 10%;
}

/*.pod {
    position: absolute;

    width: 150px;
    height: 20%;

    border-radius: 10%;

    background: #445945;
}*/

.inside {
    position: relative;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #445945;
    border-radius: 10%;
}

.cards {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.name {
    text-align: center;

    color: #FFF;
    font-family: Livvic;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin-bottom: 33px;
}

.fruit {

    padding-top: 33px;
    padding-left: 50px;
    padding-right: 57px;
}


.art {
    color: #FFF;
    font-family: Livvic;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    width: 50%;

    position: absolute;

    margin-top: -35%;
    margin-left: 15%;
}


.texts {
    padding-top: 10%;
}

.pic {
    position: relative;
    width: 90%;
    border-radius: 5%;
}

.nadpisi {
    position: absolute;

    margin-top: -10%;
    margin-left: 2%;

    width: 15%;
}

.dop {
    color: #F7C35F;
    font-family: Livvic;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.main {
    color: #FFF;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.picts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-left: 5%;
}

.str {
    position: absolute;
    margin-top: 18%;
    margin-left: -3%;
}

.str1 {
    position: absolute;
    margin-top: 18%;
    margin-left: -3%;

    outline: 1px solid red;
}

.fon {
    position: relative;
    margin-top: -12.1%;
    width: 100%;
}

.tick {
    display: flex;
    flex-direction: row;
}

.t1 {
    width: 14px;
    height:8px;

    background: #F7C35F;
    border-radius: 50px;

    position: relative;

    margin-top: -8%;
    margin-left: 49%;
}

.t2 {
    width: 8px;
    height: 8px;

    background: #CCC;
    border-radius: 99%;

    position: relative;

    margin-top: -8%;
    margin-left: 0.7%;
}


/*header*/
header {
    width: 100%;
    height: 1%;
    background: #334B35;
}

.logo {
    margin-top: 2%;
    margin-left: 10%;
}

.puncts {
    color: #FFF;
    font-family: Livvic;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

    cursor: pointer;
}

.menu {
    margin-top: -3%;
    margin-left: 45%;
    margin-right: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*contact*/
/*.contacts {
    background-color: #334B35;
    height: 23%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 4%;
}*/

.contacts {
    background-color: #334B35;
    height: 23%;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 25%;
    margin-bottom: 4%;
}

.mini {
    width: 160%;
    margin-top: 10%;
    background-color: #263C28;
    border: none;
    border-radius: 10px;

    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 30px;


    color: rgba(255, 255, 255, 0.80);

    font-family: Livvic;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.max {
    width: 160%;
    margin-top: 10%;

    background-color: #263C28;
    border: none;
    border-radius: 10px;
    padding-top: 22px;
    padding-bottom: 130px;
    padding-left: 30px;

    color: rgba(255, 255, 255, 0.80);

    font-family: Livvic;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-left: 5%;
    width: 100%;

    margin-left: 10%;
    margin-top: 2%;
}

.contact {
    padding-left: 15%;
    padding-top: 5%;
    width: 50%;
}

.hh2 {
    color: #ffffff;

    font-family: Livvic;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.hh1 {
    color: #ffffff;

    font-family: Livvic;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.opis {
    color: #ffffff;

    font-family: Livvic;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;

    width: 100%;
}

.names {
    color: #ffffff;

    font-family: Livvic;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 214.286% */
    text-transform: uppercase;
}

.inf {
    color: #ffffff;

    font-family: Livvic;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
}

.send {
    margin-top: 10%;
    margin-left: 10%;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    color: #000000;
    font-family: Livvic;
    border: none;

    font-family: Livvic;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    background: #F7C35F;
    border-radius: 10%;


    cursor: pointer;
}




.footer{
    margin-top: 20%;
    background-color: #334B35;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.block-flex{
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
}

.footer-text-down{
    color: #FFF;
    font-family: Livvic;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-text-up1{
    color: #FFF;
    font-family: Livvic;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
}

.footer-text-up2{
    color: #FFF;
    font-family: Livvic;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer-list{
    display: flex;
    flex-direction: column;
}

.footer-input{
    height: 15%;
    background-color: #263C28;
    border: none;
    border-radius: 30px;
    padding: 15px;

    margin-left: 5%;

    color: rgba(255, 255, 255, 0.80);

    font-family: Livvic;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 20%;
}


.button2{
    color: #1A1A1A;
    font-size: 13px;
    font-family: Livvic;
    font-weight: 500;
    text-transform: uppercase;
    word-wrap: break-word;
    background: #F7C35F;
     
    /*justify-content: flex-start; 
    align-items: flex-start; 
    gap: 10px; 
    display: inline-flex;
    border: none;*/

    cursor: pointer;

    padding-left: 12px; 
    padding-right: 12px; 
    padding-top: 5px; 
    padding-bottom: 5px;
    border-radius: 50px;

    margin-right: 15%;
    margin-top: -1%;

    border: none;
}



