button:hover{
    transition: transform 0.3s;

    background: #F6D086;
}

button:focus{
    transition: transform 0.3s;

    background: #C58D21;
}

button:active{
    transition: transform 0.3s;

    background: #A16C06;
    color: rgb(255, 255, 255);
}

.pod:hover{
    transition: transform 0.3s;
    background: #F7C35F;
    color: #000;
}

.pod:focus{
    transition: transform 0.3s;
    background:  #6A8A6D;
}

.pod:active{
    transition: transform 0.3s;
    background:  #263C28;
}


/*block4*/
.pict:hover{
    transition: transform 4s 1s;
    margin-top: -10px;
}

.pic:hover{
    transition: transform 0.3s;
    border: 1px solid #F7C35F;
}



.pic:focus{
    transition: transform 0.3s;
    border: 1px solid #C58D21;
}

.pic:active{
    transition: transform 0.3s;
    transform: scale(1.1);
    border: 1px solid #A16C06;
}

